    /*
    Flaticon icon font: Flaticon
    Creation date: 02/11/2019 14:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-analysis:before { content: "\f100"; }
.flaticon-piggy-bank:before { content: "\f101"; }
.flaticon-save-money:before { content: "\f102"; }
.flaticon-collaboration:before { content: "\f103"; }
.flaticon-team:before { content: "\f104"; }
.flaticon-money:before { content: "\f105"; }
.flaticon-diagram:before { content: "\f106"; }
.flaticon-target:before { content: "\f107"; }
.flaticon-customer-service:before { content: "\f108"; }
.flaticon-bill:before { content: "\f109"; }
.flaticon-growth:before { content: "\f10a"; }
.flaticon-seminar:before { content: "\f10b"; }
.flaticon-money-1:before { content: "\f10c"; }
.flaticon-add:before { content: "\f10d"; }
.flaticon-plus:before { content: "\f10e"; }
.flaticon-link:before { content: "\f10f"; }
.flaticon-worldwide:before { content: "\f110"; }
.flaticon-placeholder:before { content: "\f111"; }
.flaticon-user:before { content: "\f112"; }
.flaticon-phone-call:before { content: "\f113"; }
.flaticon-next:before { content: "\f114"; }
.flaticon-back:before { content: "\f115"; }
.flaticon-next-1:before { content: "\f116"; }
.flaticon-calendar:before { content: "\f117"; }
.flaticon-email:before { content: "\f118"; }
.flaticon-play-button:before { content: "\f119"; }
.flaticon-fast-forward:before { content: "\f11a"; }
.flaticon-bar-chart:before { content: "\f11b"; }
.flaticon-analysis-2:before { content: "\f11c"; }
.flaticon-money-2:before { content: "\f11d"; }
.flaticon-happiness:before { content: "\f11e"; }
.flaticon-sports-and-competition:before { content: "\f11f"; }
.flaticon-network:before { content: "\f120"; }
.flaticon-loupe:before { content: "\f121"; }
    
    $font-Flaticon-analysis: "\f100";
    $font-Flaticon-piggy-bank: "\f101";
    $font-Flaticon-save-money: "\f102";
    $font-Flaticon-collaboration: "\f103";
    $font-Flaticon-team: "\f104";
    $font-Flaticon-money: "\f105";
    $font-Flaticon-diagram: "\f106";
    $font-Flaticon-target: "\f107";
    $font-Flaticon-customer-service: "\f108";
    $font-Flaticon-bill: "\f109";
    $font-Flaticon-growth: "\f10a";
    $font-Flaticon-seminar: "\f10b";
    $font-Flaticon-money-1: "\f10c";
    $font-Flaticon-add: "\f10d";
    $font-Flaticon-plus: "\f10e";
    $font-Flaticon-link: "\f10f";
    $font-Flaticon-worldwide: "\f110";
    $font-Flaticon-placeholder: "\f111";
    $font-Flaticon-user: "\f112";
    $font-Flaticon-phone-call: "\f113";
    $font-Flaticon-next: "\f114";
    $font-Flaticon-back: "\f115";
    $font-Flaticon-next-1: "\f116";
    $font-Flaticon-calendar: "\f117";
    $font-Flaticon-email: "\f118";
    $font-Flaticon-play-button: "\f119";
    $font-Flaticon-fast-forward: "\f11a";
    $font-Flaticon-bar-chart: "\f11b";
    $font-Flaticon-analysis-2: "\f11c";
    $font-Flaticon-money-2: "\f11d";
    $font-Flaticon-happiness: "\f11e";
    $font-Flaticon-sports-and-competition: "\f11f";
    $font-Flaticon-network: "\f120";
    $font-Flaticon-loupe: "\f121";