	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/11/2019 14:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-analysis:before { content: "\f100"; }
.flaticon-piggy-bank:before { content: "\f101"; }
.flaticon-save-money:before { content: "\f102"; }
.flaticon-collaboration:before { content: "\f103"; }
.flaticon-team:before { content: "\f104"; }
.flaticon-money:before { content: "\f105"; }
.flaticon-diagram:before { content: "\f106"; }
.flaticon-target:before { content: "\f107"; }
.flaticon-customer-service:before { content: "\f108"; }
.flaticon-bill:before { content: "\f109"; }
.flaticon-growth:before { content: "\f10a"; }
.flaticon-seminar:before { content: "\f10b"; }
.flaticon-money-1:before { content: "\f10c"; }
.flaticon-add:before { content: "\f10d"; }
.flaticon-plus:before { content: "\f10e"; }
.flaticon-link:before { content: "\f10f"; }
.flaticon-worldwide:before { content: "\f110"; }
.flaticon-placeholder:before { content: "\f111"; }
.flaticon-user:before { content: "\f112"; }
.flaticon-phone-call:before { content: "\f113"; }
.flaticon-next:before { content: "\f114"; }
.flaticon-back:before { content: "\f115"; }
.flaticon-next-1:before { content: "\f116"; }
.flaticon-calendar:before { content: "\f117"; }
.flaticon-email:before { content: "\f118"; }
.flaticon-play-button:before { content: "\f119"; }
.flaticon-fast-forward:before { content: "\f11a"; }
.flaticon-bar-chart:before { content: "\f11b"; }
.flaticon-analysis-2:before { content: "\f11c"; }
.flaticon-money-2:before { content: "\f11d"; }
.flaticon-happiness:before { content: "\f11e"; }
.flaticon-sports-and-competition:before { content: "\f11f"; }
.flaticon-network:before { content: "\f120"; }
.flaticon-loupe:before { content: "\f121"; }