@media only screen and (max-width: 1800px) {
  .main-slider .slider-wrapper .image img {
    width: auto;
  }
}

@media only screen and (max-width: 1750px) {
  .lan-select.nice-select {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1500px) {
  .menu-btn {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 1199px) {
  .news-view h3 {
    font-size: 19px;
  }

  .news-content p,
  .news-content span {
    font-size: 16px !important;
  }

  .owl-carousel .owl-item img {
    height: 200px;
  }

  .news-card .img a img {
    height: auto;
    width: 250px;
  }

  .news-card .content {
    padding: 0 0 0 20px;
  }

  .blog-details-content p,
  .blog-details-content p span,
  .category-widget li a {
    font-size: 16px !important;
  }

  .hyper-page-title h2 img.title-book {
    max-width: 230px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 23px;
  }

  .main-footer .footer-logo span {
    font-size: 17px;
  }

  .main-footer .footer-logo {
    align-items: center;
    justify-content: space-between;
  }

  .video-tape .big-video {
    height: 250px;
  }

  .service-box {
    padding: 12px;
  }

  .news .follower {
    margin-top: 20px;
  }

  .featured-tab-content {
    padding-right: 50px;
  }

  .featured-tab-content button {
    right: 0;
  }

  .about-featured {
    width: 930px;
  }

  .service-feature-img {
    width: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .gorom-login-form .nav-pills .nav-link {
    padding: 3.7rem 2rem;
  }

}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

  /*Shape style*/
  .shape-up {
    clip-path: polygon(calc(50% - 340px) 0,
        calc(50% + 340px) 0,
        calc(50% + 465px) 75px,
        100% 75px,
        100% 100%,
        0 100%,
        0 75px,
        calc(50% - 465px) 75px);
  }

  .shape-down {
    clip-path: polygon(0 0,
        100% 0,
        100% calc(100% - 75px),
        calc(50% + 465px) calc(100% - 75px),
        calc(50% + 340px) 100%,
        calc(50% - 340px) 100%,
        calc(50% - 465px) calc(100% - 75px),
        0 calc(100% - 75px));
  }

  .shape-down-in {
    clip-path: polygon(0 0,
        calc(50% - 178px) 0,
        calc(50% - 118px) 75px,
        calc(50% + 118px) 75px,
        calc(50% + 178px) 0,
        100% 0,
        100% calc(100% - 75px),
        calc(50% + 465px) calc(100% - 75px),
        calc(50% + 340px) 100%,
        calc(50% - 340px) 100%,
        calc(50% - 465px) calc(100% - 75px),
        0 calc(100% - 75px));
  }

  .shape-up-in {
    clip-path: polygon(calc(50% - 340px) 0,
        calc(50% + 340px) 0,
        calc(50% + 465px) 75px,
        100% 75px,
        100% 100%,
        calc(50% + 178px) 100%,
        calc(50% + 118px) calc(100% - 75px),
        calc(50% - 118px) calc(100% - 75px),
        calc(50% - 178px) 100%,
        0 100%,
        0 75px,
        calc(50% - 465px) 75px);
  }

  .shape-up-down {
    clip-path: polygon(calc(50% - 340px) 0,
        calc(50% + 340px) 0,
        calc(50% + 465px) 75px,
        100% 75px,
        100% calc(100% - 75px),
        calc(50% + 465px) calc(100% - 75px),
        calc(50% + 340px) 100%,
        calc(50% - 340px) 100%,
        calc(50% - 465px) calc(100% - 75px),
        0 calc(100% - 75px),
        0 75px,
        calc(50% - 465px) 75px);
  }
}

@media only screen and (max-width: 991px) {
  .library-page .expert-description a {
    padding-right: 0;
  }
  .news-view .sidebar {
    display: flex;
    flex-flow: column-reverse;
    margin-top: 30px;
  }

  .news-view .sidebar .widget:last-child {
    margin-bottom: 30px;
  }

  .news-page .sidebar {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .branches-list {
    padding-bottom: 3px;
  }

  .branches {
    padding-bottom: 3px;
    padding-top: 5px;
  }

  .heads-page .sidebar {
    padding: 30px 0;
  }

  .law-acts {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .masters-page {
    padding-bottom: 30px;
  }

  .sidebar {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .states-receiver-page .sidebar {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .law-acts .sidebar {
    margin-bottom: 0;
  }

  .archive-tests-page .sidebar {
    margin: 30px 0;
  }

  .blog-single-page {
    padding-top: 30px;
    padding-bottom: 3px;
  }

  /* .blog-single-page .row,
  .laws-row {
    flex-flow: column-reverse;
  } */

  .useful-links {
    padding: 0;
  }

  .main-footer {
    padding-top: 0;
  }

  .main-footer .footer-logo a {
    flex: 0 0 15%;
  }

  .main-footer .footer-logo {
    justify-content: flex-start;
    margin-top: 30px;
  }

  .video-tape .video-title p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .video-tape .big-video {
    height: 300px;
    margin-bottom: 30px;
  }

  .gallery-page .big-video {
    height: 250px;
    margin-bottom: 0;
  }

  .video-tape .small-video-wrapper {
    margin-top: 0 !important;
  }

  .video-tape .small-video {
    margin-bottom: 30px;
  }

  .small-video-wrapper .row {
    justify-content: center;
  }

  /* .small-video-wrapper .row .col-lg-4,
  .small-video-wrapper .row .col-lg-6 {
    margin-bottom: 30px;
  } */

  .fullpage-wrapper #staff {
    padding-top: 0;
    padding-bottom: 0;
  }

  .fp-tableCell .row {
    margin-top: 30px;
  }

  .news .tab-content .big-news .content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }

  /* .banner-section {
    height: 260px;
  } */

  .banner-inner {
    padding-top: 50px;
  }

  .what-we-do {
    padding-bottom: 100px;
  }

  .footer-widget {
    margin-left: 0;
  }

  .about-page-content {
    margin-right: 0;
    padding-bottom: 0;
  }

  .about-featured {
    position: relative;
    width: auto;
    margin: 0 15px;
    transform: translateY(35px);
  }

  .contact-info {
    display: block;
  }

  .contact-info-box {}

  .error-inner h1 {
    font-size: 100px;
    margin: 30px 0;
  }

  .error-inner h2 {
    font-size: 35px;
  }

  .featured-tab-content {
    padding-left: 0;
    padding-top: 35px;
  }

  .stacked-image-carousel {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .main-slider h2 {
    font-size: 50px;
  }
  .navbar-collapse.collapse{
    display: none!important;
  }
  .main-menu .navbar-header{
    display: block;
  }
  /*Shape style*/
  .shape-up {
    clip-path: polygon(calc(50% - 220px) 0,
        calc(50% + 220px) 0,
        calc(50% + 345px) 75px,
        100% 75px,
        100% 100%,
        0 100%,
        0 75px,
        calc(50% - 345px) 75px);
  }

  .shape-down {
    clip-path: polygon(0 0,
        100% 0,
        100% calc(100% - 75px),
        calc(50% + 345px) calc(100% - 75px),
        calc(50% + 220px) 100%,
        calc(50% - 220px) 100%,
        calc(50% - 345px) calc(100% - 75px),
        0 calc(100% - 75px));
  }

  .shape-down-in {
    clip-path: polygon(0 0,
        calc(50% - 178px) 0,
        calc(50% - 118px) 75px,
        calc(50% + 118px) 75px,
        calc(50% + 178px) 0,
        100% 0,
        100% calc(100% - 75px),
        calc(50% + 345px) calc(100% - 75px),
        calc(50% + 220px) 100%,
        calc(50% - 220px) 100%,
        calc(50% - 345px) calc(100% - 75px),
        0 calc(100% - 75px));
  }

  .shape-up-in {
    clip-path: polygon(calc(50% - 220px) 0,
        calc(50% + 220px) 0,
        calc(50% + 345px) 75px,
        100% 75px,
        100% 100%,
        calc(50% + 178px) 100%,
        calc(50% + 118px) calc(100% - 75px),
        calc(50% - 118px) calc(100% - 75px),
        calc(50% - 178px) 100%,
        0 100%,
        0 75px,
        calc(50% - 345px) 75px);
  }

  .shape-up-down {
    clip-path: polygon(calc(50% - 220px) 0,
        calc(50% + 220px) 0,
        calc(50% + 345px) 75px,
        100% 75px,
        100% calc(100% - 75px),
        calc(50% + 345px) calc(100% - 75px),
        calc(50% + 220px) 100%,
        calc(50% - 220px) 100%,
        calc(50% - 345px) calc(100% - 75px),
        0 calc(100% - 75px),
        0 75px,
        calc(50% - 345px) 75px);
  }

  .contact-form {
    padding: 0;
    max-width: 100%;
    margin: 50px 0;
  }
}

@media only screen and (min-width: 768px){
  
  
}
@media only screen and (max-width: 767px) {
  .news .follower .text{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .main-footer .logo-widget form{
    padding-right: 0;
  }
  .news .follower .social-linkers{
    width: 100%;
  }
  .news .top .nav-item{
    width: 100%;
    text-align: center;
    display: block;
  }
  .news .top .nav-item .nav-link{
    border-right: 0;
  }
  .news .follower{
    display: block;
    padding: 0;
  }
  .news .social-linkers a#telegram{
    border-radius: 0;
  }
  .news-view .sidebar {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 0;
  }

  .owl-carousel .owl-item img {
    height: 270px;
  }

  .blog-single-page .posts-images-carousel {
    width: 80%;
    margin: 0 auto 20px auto;
    float: unset;
  }

  .news-page {
    padding-top: 0;
  }

  .news-card {
    flex-flow: column;
  }

  .news-card .img {
    margin: 0 auto 20px auto;
    max-width: initial;
  }

  .news-card .img .content {
    padding-left: 0;
  }

  .hyper-page-title {
    padding-top: 30px;

  }

  .main-footer {
    padding-top: 30px;
  }

  .useful-links .slick-slider {
    margin-top: 80px;
  }

  .news .follower {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .fp-tableCell .row {
    margin-top: 0;
  }

  .video-tape .video-title p {
    font-size: 16px;
  }

  .video-tape .small-video-wrapper .small-video a {
    height: 180px;
  }

  .news .tab-content .big-news .content .infos {
    position: relative;
    top: 5px;
  }

  .news .follower {
    text-align: center;
  }

  .m-hide {
    display: none;
  }

  .contact-form {
    max-width: 100%;
    padding: 0;
  }

  .gorom-login-form .nav-pills .nav-link {
    padding: 1.7rem 0;
    width: 33.3333333333%;
  }

  .auth-block {
    flex-direction: column;
  }

  .gorom-login-form .nav-pills .nav-link {
    border: 0;
  }

  .gorom-login-form .nav-pills {
    flex-direction: row !important;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .gorom-login-form .tab-content {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 15px 0;
  }

  /*Shape style*/
  .main-slider h2 {
    font-size: 25px;
  }

  .main-footer .footer-logo span {
    padding-left: 12px;
    /* font-size: 15px; */
    /* flex: 0 0 100%; */
    max-width: 100%;
    width: 100%;
    /* text-align: center; */
  }

  .shape-up {
    clip-path: polygon(calc(50% - 140px) 0,
        calc(50% + 140px) 0,
        calc(50% + 240px) 50px,
        100% 50px,
        100% 100%,
        0 100%,
        0 50px,
        calc(50% - 240px) 50px);
  }

  .shape-down {
    clip-path: polygon(0 0,
        100% 0,
        100% calc(100% - 50px),
        calc(50% + 240px) calc(100% - 50px),
        calc(50% + 140px) 100%,
        calc(50% - 140px) 100%,
        calc(50% - 240px) calc(100% - 50px),
        0 calc(100% - 50px));
  }

  .shape-down-in {
    clip-path: polygon(0 0,
        calc(50% - 178px) 0,
        calc(50% - 118px) 50px,
        calc(50% + 118px) 50px,
        calc(50% + 178px) 0,
        100% 0,
        100% calc(100% - 50px),
        calc(50% + 240px) calc(100% - 50px),
        calc(50% + 140px) 100%,
        calc(50% - 140px) 100%,
        calc(50% - 240px) calc(100% - 50px),
        0 calc(100% - 50px));
  }

  .shape-up-in {
    clip-path: polygon(calc(50% - 140px) 0,
        calc(50% + 140px) 0,
        calc(50% + 240px) 50px,
        100% 50px,
        100% 100%,
        calc(50% + 178px) 100%,
        calc(50% + 118px) calc(100% - 50px),
        calc(50% - 118px) calc(100% - 50px),
        calc(50% - 178px) 100%,
        0 100%,
        0 50px,
        calc(50% - 240px) 50px);
  }

  .shape-up-down {
    clip-path: polygon(calc(50% - 140px) 0,
        calc(50% + 140px) 0,
        calc(50% + 240px) 50px,
        100% 50px,
        100% calc(100% - 50px),
        calc(50% + 240px) calc(100% - 50px),
        calc(50% + 140px) 100%,
        calc(50% - 140px) 100%,
        calc(50% - 240px) calc(100% - 50px),
        0 calc(100% - 50px),
        0 50px,
        calc(50% - 240px) 50px);
  }

  .diamond-shape {
    max-width: 85px;
    transform: translate(-50%, 25%);
  }

  /* .container,
  .container-fluid {
    padding: 0 30px;
  } */

  .blog-title,
  .about-content h2,
  .section-title h2,
  .single-fact .count-text,
  .service-single-inner h2,
  .about-page-content h2 {
    font-size: 35px;
  }

  .page-title,
  .hero-inner h1 {
    font-size: 45px;
  }

  .hero-inner h2 {
    font-size: 30px;
  }

  .featured-item-inner {
    display: block;
  }

  .featured-heading {
    margin: 20px 0;
  }

  .img-left {
    margin-bottom: 35px;
  }

  .img-right {
    margin-top: 35px;
  }

  .filter-tabs li {
    padding: 5px 15px;
  }

  .scroll-top {
    width: 35px;
    height: 35px;
    bottom: 15px;
    right: 15px;
  }

  .footer-widget {
    margin-right: 0;
  }
  ul.jqtree-tree .jqtree-element {
    flex-direction: column;
  }

  ul.jqtree-tree li.jqtree-folder>div.jqtree-element {
    flex-direction: row;
  }

  ul.jqtree-tree .jqtree-element .circle {
    margin-top: 10px;
  }

  #listWithHandle {
    padding: 0;
  }

  .page-wrapper .right {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .main-slider h1 {
    font-size: 48px;
    line-height: 50px;
  }

  .stacked-image-carousel .slide.active,
  .stacked-image-carousel .slides .slide:nth-child(3),
  .stacked-image-carousel .slides .slide:nth-child(3).active {
    top: 0px !important;
    left: 0px !important;
  }

  
}

@media only screen and (max-width: 576px) {
  .blog-details-content table {
    max-width: 100%;
  }

  .states-receiver-page {
    padding-top: 30px;
  }

  .blog-single-page .posts-images-carousel {
    width: 100%;
  }

  .news-card .content .category div {
    font-size: 12px;
  }

  h4 {
    font-size: 18px;
  }

  .news-card .img a img {
    height: 250px;
    width: 100%;
  }

  .services-section.branches div.branches-list h2 {
    margin-bottom: 20px !important;
    margin-top: 30px;
  }

  .services-section.branches div.branches-list ul li a {
    font-size: 16px;
  }

  .heads-page img {
    margin-bottom: 20px;
  }

  .main-header {
    padding: 10px 0;
  }

  .hyper-page-title h2 img.title-book {
    max-width: 190px;
  }

  h2 {
    font-size: 24px;
  }

  .banner-section .logo {
    width: 80px;
  }

  .banner-section p.pro-title {
    font-size: 18px;
  }

  .main-footer .footer-logo {
    flex-flow: column;
  }

  .main-footer .footer-logo span {
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
  }

  .main-footer .footer-logo img {
    width: 80px;
    max-width: initial;
  }

  .fullpage-wrapper #statistics {
    padding-bottom: 50px;
  }

  .video-tape .big-video {
    height: 250px;
  }

  .video-tape {
    padding-bottom: 50px;
  }

  .video-tape .small-video-wrapper .small-video {
    display: none;
  }

  .news .social-linkers a img {
    width: 30px;
    height: 30px;
  }

  .section-title {
    margin-bottom: 30px;
  }

  .main-banner h2 {
    padding: 0;
  }

  .main-slider video#myVideo {
    display: none;
  }

  .main-slider #smallVideo {
    display: block;
  }

  .heads-page .head-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heads-page .head-item .col-md-8 {
    margin-top: 15px;
  }

  /* .main-slider img.building{
      display: block;   
  }  */
}

@media only screen and (max-width: 570px) {

  /*Shape style*/
  .shape-up {
    clip-path: polygon(90px 0,
        calc(100% - 90px) 0,
        calc(100% - 30px) 50px,
        100% 50px,
        100% 100%,
        0 100%,
        0 50px,
        30px 50px);
  }

  .shape-down {
    clip-path: polygon(0 0,
        100% 0,
        100% calc(100% - 50px),
        calc(100% - 30px) calc(100% - 50px),
        calc(100% - 90px) 100%,
        90px 100%,
        30px calc(100% - 50px),
        0 calc(100% - 50px));
  }

  .shape-down-in {
    clip-path: polygon(0 0,
        30px 0,
        90px 50px,
        calc(100% - 90px) 50px,
        calc(100% - 30px) 0,
        100% 0,
        100% calc(100% - 50px),
        calc(100% - 30px) calc(100% - 50px),
        calc(100% - 90px) 100%,
        90px 100%,
        30px calc(100% - 50px),
        0 calc(100% - 50px));
  }

  .shape-up-in {
    clip-path: polygon(90px 0,
        calc(100% - 90px) 0,
        calc(100% - 30px) 50px,
        100% 50px,
        100% 100%,
        calc(100% - 30px) 100%,
        calc(100% - 90px) calc(100% - 50px),
        90px calc(100% - 50px),
        30px 100%,
        0 100%,
        0 50px,
        30px 50px);
  }

  .shape-up-down {
    clip-path: polygon(90px 0,
        calc(100% - 90px) 0,
        calc(100% - 30px) 50px,
        100% 50px,
        100% calc(100% - 50px),
        calc(100% - 30px) calc(100% - 50px),
        calc(100% - 90px) 100%,
        90px 100%,
        30px calc(100% - 50px),
        0 calc(100% - 50px),
        0 50px,
        30px 50px);
  }

  .client-testimonial-inner .single-client {
    display: block;
    margin-bottom: 0;
  }

  .client-img {
    margin-bottom: 25px;
  }

  .client-testimonial-inner button {
    /* top: 252px; */
  }

  .client-testimonial-inner .client-prev {
    right: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .lan-select {
    display: none;
  }

  .main-header .logo img {
    width: 80%;
    margin-top: 10px;
  }

  .featured-tab-content .featured-item {
    display: block;
  }

  .featured-icon {
    margin: 30px;
  }

  .error-search .theme-btn {
    padding: 16px 35px;
  }

  .action-btn a {
    margin: 10px;
  }

  .service-feature-box {
    display: block;
  }

  .service-feature-img {
    margin-bottom: 20px;
  }

  .comment-author-img {
    margin-right: 15px;
  }

  .comment-author-img img {
    width: 65px;
    height: 65px;
  }

  .comment-reply {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 375px) {
  /* .main-menu .navbar-header .navbar-toggle {
    margin-top: 8px;
  } */

  .what-we-do {
    padding-bottom: 40px;
  }
}