/********************************************************** */
/**********************  Gorom ************************* */
/**********************************************************

    TABLE OF CONTENT
    ========================

    01. Default CSS
    02. Hero Section
    03. Banner Section
    04. Featured Section
    05. About Section
    06. Fact Counter
    07. Our Services
    8. Projects Gallery
    9. Our Experts
    10 .Client Feedback
    11 .News Section
    12 .Contact Us
    13 .Error Page
    14. Footer Section

/********************************************************* */

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

/* Import Stylesheets */
@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");
@import url("bootstrap.min.css");
@import url("magnific-popup.css");
@import url("menu.css");
@import url("slick.css");
@import url("animate.css");
@import url("flaticon.css");
@import url("nice-select.css");
@import url("spacing.min.css");
/* @import url("owl.theme.default.min.css"); */

@font-face {
  font-family: CalligraphiaOne;
  src: url(../fonts/LucidaItalic.ttf);
}

/****************************************************** */
/*******************  01. Default CSS ***************** */
/****************************************************** */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* border-radius: 0 !important; */
}

body {
  color: #000145;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: #2962ff;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  color: #2962ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 700;
  /* font-family: "Poppins", sans-serif; */
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  /* overflow: hidden; */
}

.page-wrapper .right {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top: 35%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  margin-top: 42px;
  min-width: 45px;
  z-index: 999;
}

.page-wrapper .right.first {
  margin-top: 0;
}

.page-wrapper .right.second {
  margin-top: 50px;
}

.page-wrapper .right.third {
  margin-top: 100px;
}

.page-wrapper .right.fourth {
  margin-top: 150px;
}

.page-wrapper .right.fifth {
  margin-top: 200px;
}

.page-wrapper .right .item {
  display: flex;
  margin-bottom: 20px;
  font-size: 20px;
}

.page-wrapper .right .item:last-child {
  margin-bottom: 0;
}

.page-wrapper .right .item:hover .show {
  max-width: 300px;
  opacity: 1;
  margin-left: 8px;
}

.page-wrapper .right .item .show {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 0;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.page-wrapper .right .item .show input,
.page-wrapper .right .item .show a {
  background-color: inherit;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
}

.page-wrapper .right .item .show a {
  border: unset;
}

.page-wrapper .right .item .show input:focus {
  outline: unset;
}

.page-wrapper .right .item .show input::placeholder {
  color: white;
}

.page-wrapper .right .item .icon {
  color: white;
  display: flex;
  align-items: center;
}

.hyper-page-title h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.hyper-page-title h2 img.title-book {
  max-width: 285px;
}

.hyper-page-title h2 img.left {
  position: absolute;
  left: -110px;
  top: 50%;
  transform: translateY(-50%);
}

.hyper-page-title h2 img.page-wrapper .helpers .right {
  position: absolute;
  right: -110px;
  top: 50%;
  transform: translateY(-50%);
}

/* Sidebar  */
.widget {}

.widget h3,
.widget h2 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #2962ff;
}

/* Sidebar */
/* Home Fullpage styles */

.fullpage-wrapper #news,
.fullpage-wrapper #interactives,
.fullpage-wrapper #statistics,
.fullpage-wrapper #staff {
  background-image: url(../images/background/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fullpage-wrapper #interactives {
  background-image: url(../images/background/bg2.jpg);
}

.fullpage-wrapper #statistics {
  background-image: url(../images/background/bg3.jpg);
}

.fullpage-wrapper #staff {
  background-image: url(../images/background/bg6.jpg);
}

.fullpage-wrapper .section .container {
  z-index: 1;
}

.fullpage-wrapper .section .back-area {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-image: -webkit-linear-gradient(90deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.64902) 20%);
  background-image: -moz-linear-gradient(90deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.64902) 20%);
  background-image: -ms-linear-gradient(90deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.64902) 20%);
  z-index: 0;
}

/* .fp-tableCell {
  vertical-align: top;
} */

.promoto h3 {
  color: #fff;
  font-style: italic;
  font-size: 20px;
}

.fullpage-wrapper .all-navigator {
  position: relative;
  z-index: 1;
  margin-top: 25px;
}

.fullpage-wrapper .all-navigator a {
  color: #fff;
  font-size: 25px;
}

.fullpage-wrapper .all-navigator a:hover {
  color: #2962ff;
}

/* /Home Fullpage styles */
/* FAQs page styles */

.faqs-page {}

.faqs-page #accordion {}

.faqs-page #accordion .card {
  margin-bottom: 15px;
}

.faqs-page #accordion .card-header {
  background-color: transparent;
}

.faqs-page #accordion .card-header button {
  width: 100%;
  text-decoration: none;
  color: #000;
  text-align: left;
  white-space: normal;
  position: relative;
}

.faqs-page #accordion .card-header button i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.faqs-page #accordion .card-header:hover button {
  color: #2962ff;
}

.faqs-page #accordion .card-body {}

/* /FAQs page styles */

/* Home News styles */
.useful-links .item {
  margin-right: 15px;
}

.useful-links .item .useful-links-img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^=col-],
.row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.news {
  padding: 30px 0;
  font-family: "Poppins", sans-serif;
}

.news .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
}

.news .follower {
  padding: 12px 15px;
  background-color: #2962FF;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.news .follower .text {
  width: 40%;
  margin-right: 10px;
}

.news .follower .social-linkers {
  width: 60%;
  margin-top: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.news .follower .social-linkers a img {
  width: 25px;
  height: 25px;

}

.news .follower {
  padding: 0 0 0 15px;
  background-color: #2962FF;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.news .social-linkers {
  margin-top: 20px;
  background-color: #fff;
  justify-content: space-around;
}

.news .social-linkers a {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news .social-linkers a#facebook {
  background-color: #003E7B;
}

.news .social-linkers a#twitter {
  background-color: #00ACEE;
}

.news .social-linkers a#instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.news .social-linkers a#telegram {
  background-color: #0088CC;
}

.news .social-linkers a#telegram {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.news .most-seen {
  margin-top: 20px;
}


.news .top .nav-item {
  padding: 12px 0;
}

.news .top .nav-item .nav-link {
  color: #000;
  font-size: 18px;
  padding: 0 1rem;
  transition: 0.3s;
  border-radius: 0;
  border-right: 2px solid #2962ff;
  /* font-weight: bold; */
}

.news .top .nav-item:last-child .nav-link {
  border-right: 0;
}

.news .top .nav-item .nav-link.active {
  background-color: unset;
  color: #2962ff;
}

.news .top .nav-item .nav-link:hover {
  color: #2962ff;
}

.news .tab-content {
  margin-top: 20px;
}

.news .tab-content .big-news {
  border-radius: 8px;
  /* box-shadow: 2px 3px 12px #9e9da685; */
}

.news .tab-content .big-news:hover .img .category {
  background-color: #2962ff;
}



.news .tab-content .big-news:hover .content a {
  text-decoration: unset;
  color: #2962ff;
}

.news .tab-content .big-news .img {
  position: relative;
}

.news .tab-content .big-news .img img {
  width: 100%;
  height: 245px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}

.news .tab-content .big-news .img .category {
  position: absolute;
  bottom: 12px;
  left: 12px;
  padding: 2px 10px;
  background-color: #000000c2;
  color: white;
  transition: 0.3s;
}

.news .tab-content .big-news .content {
  padding: 15px 20px;
  height: 215px;
  background-color: #fff;
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

.news .tab-content .big-news .content .infos {
  position: absolute;
  bottom: 10px;
}

.news .tab-content .big-news .content a {
  color: black;
  font-size: 20px;
  transition: 0.3s;
  line-height: 24px;
  margin-bottom: 10px;
  display: block;
  text-transform: lowercase;
}

.news .tab-content .big-news .content a::first-letter {
  text-transform: capitalize;
}

.news .tab-content .big-news .content p {
  font-size: 15px;
  margin-bottom: 0;
}
.news .popular {
  box-shadow: 2px 3px 12px #9e9da685;
  border-radius: 8px;
  margin-top: 21px;
}

.news .popular .small-news-wrapper {
  margin-top: 15px;
  background-color: #fff;
  padding: 15px;
  height: 405px;
  overflow: hidden;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.news .popular .small-news-wrapper img{
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 25%;
  border-radius: 8px;
}

.news .popular .small-news-wrapper .slick-list.draggable {
  /* max-height: 450px !important; */
}

.news .popular h3 {
  margin-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.news .popular .small-news-wrapper .small-news {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  /* margin: 10px 0; */
}

.news .popular .small-news-wrapper .small-news:hover .content a {
  color: #2962ff;
  text-decoration: unset;
}

.news .popular .small-news-wrapper .small-news .content {
  flex-basis: 100%;
}

.news .popular .small-news-wrapper .small-news .content a {
  color: black;
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
  transition: 0.3s;
  text-transform: lowercase;
  /* height: 48px; */
  /* min-height: 3em; */
}

.news .popular .small-news-wrapper .small-news .content a::first-letter {
  text-transform: capitalize;
}

.infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #9e9da6;
  font-size: 14px;
}

.infos div {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.infos div svg {
  margin-right: 5px;
}

/* /Home News styles */
/* Home Video Tape styles */
/* .video-tape{

} */
.video-tape .video-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: flex-end;
  z-index: 1;
  border-radius: 8px;
}

.video-tape .video-title::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.video-tape .video-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  transition: opacity 0.3s linear;
  opacity: 0;
}

.video-tape .video-title:hover::before {
  opacity: 1;
}

.video-tape .video-title p {
  color: white;
  margin: 15px 30px 15px 15px;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.video-tape .big-video:hover .video-title p {
  color: #2962ff;
}

.video-tape .big-video .poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.video-tape .small-video-wrapper .col-lg-4 .small-video .img {
  height: 200px;
  position: relative;
  display: block;
}

.video-tape .small-video-wrapper .col-lg-4 .small-video .link {
  color: #fff;
  font-family: "ProductSans-Bold";
  font-size: 18px;
  line-height: 22px;
  position: relative;
  top: 10px;
  height: 3.8em;
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.video-tape .small-video-wrapper .col-lg-4 .small-video .poster {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

.video-tape .small-video-wrapper .video-title:hover p {
  color: #2962ff;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); */
  z-index: 9;
  border-radius: 8px;
}

/* /Home Video Tape styles */
/* Interactives page styles */
.interactives.page .interactives-item {
  box-shadow: 0px 10px 40px #0400ff12;
}

.interactives.page .interactives-item:hover {
  box-shadow: 0px 10px 40px #0400ff29;
}

/* /Interactives page styles */

/* News page styles */
.news-page .big-news {
  box-shadow: 2px 3px 12px #9e9da685;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 15px;
}

.blog-single-page .anons {
  font-size: 18.667px;
  text-align: justify;
  display: inherit;
  font-family: tahoma, arial, helvetica, sans-serif;
}

.blog-single-page .posts-images-carousel {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.owl-carousel .owl-item img {
  height: 250px;
  object-fit: cover;
}

.blog-single-page .posts-images-carousel .owl-item {
  min-height: 150px;
  width: 100%;
  object-fit: cover;
}

.news-page .big-news:hover .img .category {
  background-color: #2962ff;
}

.news-page .big-news .img {
  overflow: hidden;
  flex: 0 0 50%;
}

.news-page .big-news .img img {
  transition: 0.5s all;
}

.news-page .big-news:hover .img img {
  transform: scale(1.1);
  transition: 0.5s all;
}

.news-page .big-news:hover .content a {
  text-decoration: unset;
  color: #2962ff;
}

.news-page .big-news .img {
  position: relative;
}

.news-page .big-news .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.news-page .big-news .img .category {
  position: absolute;
  bottom: 12px;
  left: 12px;
  padding: 2px 10px;
  background-color: #000000c2;
  color: white;
  transition: 0.3s;
}

.news-page .big-news .content {
  padding: 15px 20px;
  flex: 0 0 50%;
  background-color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.news-page .big-news .content a {
  color: black;
  font-size: 18px;
  transition: 0.3s;
  margin-bottom: 10px;
  display: block;
}

.news-page .big-news .content p {
  font-size: 15px;
  margin-bottom: 10px;
}

/* News page styles */

/* Home Statistics Styles */

#statistics .row>div {
  margin-bottom: 15px;
}

/* /Home Statistics Styles */
/* Heads Home Styles */
.heads-page {}

.heads-page img {
  width: 160px;
  height: 185px;
}

.heads-page .head-item {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 40px #cccccc42;
}

.heads-page .head-item .head-info a {
  display: inline-block;
  color: #000;
}

.heads-page .head-item .head-info {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: left;
}

.heads-page .head-info p {
  margin: 0;
  margin-right: 15px;
}

.heads-page .head-info a {
  margin-right: 15px;
}

.heads-page .head-info a:hover {
  color: #2962ff;
}

.heads-page .head-info h6,
.heads-page .head-info h3 {
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
}

/* /Heads Home Styles */
/*  Archive-Tests-Page Styles */
.archive-tests-page .test-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 35px 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 2px 20px 0px rgba(110, 110, 110, 0.2);
}

.archive-tests-page .test-item img.logo {
  max-width: 100px;
}

.archive-tests-page .test-item a.read {
  text-decoration: none;
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}

.archive-tests-page .test-item a.read:hover {
  color: #2962ff;
}

.archive-tests-page .test-item a.read span {
  margin-left: -10px;
}

.archive-tests-page .test-item>span {
  font-weight: bold;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  font-size: 25px;
  margin-top: 15px;
  color: #000;
  /* color: #fff;
  padding: 8px 0;
  margin: 15px -10px;
  background-color: #2962ff; */
}

.archive-tests-page .test-item:hover span {
  color: #2962ff;
}

/*  /Archive-Tests-Page Styles */
/*  Masters-Page Styles */
.masters-page .master-item {
  box-shadow: 0px 10px 40px #0400ff12;
}

.masters-page .master-item:hover {
  box-shadow: 0px 10px 40px #0400ff29;
}

.masters-page .master-item img.master-img {
  max-width: 100%;
  margin-bottom: 20px;
}

.gallery-page .media-btns {
  margin-bottom: 40px;
}

/*  /Masters-Page Styles */
/*  Gallery-Page Styles */
.gallery-page .navigator {
  display: inline-block;
  padding: 8px 15px;
  font-size: 18px;
  border: 1px solid #2962ff;
  text-decoration: none;
  background-color: #fff;
  color: #2962ff;
  margin-left: auto;
  margin-right: auto;
}

.gallery-page .navigator:first-child {
  margin-right: 30px;
}

.gallery-page .navigator:hover,
.gallery-page .navigator.active {
  color: #fff;
  background-color: #2962ff;
}

.gallery-page .big-video .video-title .player {
  transition: 0.3s;
}

.gallery-page .big-video:hover .video-title .player {
  filter: unset;
}

/*  /Gallery-Page Styles */

/*  States-Receiver-Page Styles */
.states-receiver-page {
  background: linear-gradient(to bottom, #f6f6f6, #e9e9e9);
}

.states-receiver-page .form-group input,
.states-receiver-page .form-group textarea {
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.states-receiver-page .custom-file-label::after {
  content: "Tanlash";
  height: 100%;
  border-radius: 0;
  background: #2962ff;
  color: white;
}

.states-receiver-page .custom-file-label.ru::after {
  content: "Выбрать";
}

.states-receiver-page .custom-file-label.uz-Cyr::after {
  content: "Танлаш";
}

.states-receiver-page .custom-file {
  height: auto;
}

.states-receiver-page .custom-file .custom-file-label {
  width: 100%;
  left: 0;
  border-radius: 0;
  border: unset;
}

.cool-b4-form .btn {
  border-radius: 0;
}

.cool-b4-form .form-group {
  position: relative;
  padding-top: 20px;
  margin-bottom: 0;
  /* If there's only 1 input make it full height */
}

.states-receiver-page .field-statesreceivermodel-file {
  padding-top: 0;
}

.cool-b4-form .form-group:first-child:last-child {
  height: 100%;
}

.cool-b4-form .form-group:first-child:last-child .form-control {
  height: 100%;
}

.cool-b4-form .form-group textarea {
  resize: none;
}

.cool-b4-form .form-group .input-highlight {
  content: "";
  width: 0;
  height: 2px;
  background: #2962ff;
  position: absolute;
  display: block;
  bottom: 0;
  transition: width 0.4s ease;
}

.cool-b4-form .form-group label {
  position: absolute;
  left: 10px;
  top: 25px;
  transition: all 0.4s ease;
}

.cool-b4-form .form-group .form-control {
  border-radius: 0;
  border-width: 0 0 2px 0;
}

.cool-b4-form .form-group .form-control:focus,
.cool-b4-form .form-group .form-control.hasValue {
  box-shadow: none;
  border-color: #ced4da;
}

.cool-b4-form .form-group .form-control:focus~.input-highlight,
.cool-b4-form .form-group .form-control.hasValue~.input-highlight {
  width: 100%;
}

.cool-b4-form .form-group .form-control:focus~label,
.cool-b4-form .form-group .form-control.hasValue~label {
  transform: scale(0.7);
  top: 0;
  left: 0;
}

/*  /States-Receiver-Page Styles */
/*  E-library-Page Styles */
.library-page {}

.library-page .library-main {
  /* background-image: url(../images/wood.jpg);
  background-position: center center;
  background-size: cover; */
}

/*  /E-library-Page Styles */

.page p {
  line-height: 29px;
}

header i.fa,
header span.fa {
  color: #fff !important;
}

header:after,
section:after,
footer:after {
  display: block;
  clear: both;
  content: "";
}

/** Section Title style */
.section-title {
  margin-bottom: 40px;
  position: relative;
}

.section-title h2 {
  margin-bottom: 20px;
}

/** Button style */
/*btn style*/

.btn-style-one {
  font-size: 14px;
  font-weight: 700;
}

a.btn-style-one {
  color: #333;
}

a.btn-style-one:hover {
  color: #2962ff;
}

.theme-btn,
a.theme-btn {
  position: relative;
  background: #2962ff;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border: 1px solid #2962ff;
  padding: 12px 42px;
  display: inline-block;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.theme-btn:hover,
a.theme-btn:hover {
  background: #fff;
  color: #2962ff;
}

.theme-btn.style-two {
  color: #2962ff;
  background: #ffffff;
  border-radius: 5px;
}

.theme-btn.style-two:hover {
  color: #fff;
  background: #2962ff;
}

/** Social Link Style One */
.social-style-one {
  display: inline-block;
}

.social-style-one a {
  margin: 0 9px;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid #fff;
}

.social-style-one a:first-child {
  margin-left: 0;
}

.social-style-one a:last-child {
  margin-right: 0;
}

/*List style One*/
.list-style-one li {
  color: #000145;
  margin-bottom: 5px;
  padding-left: 30px;
  position: relative;
}

.list-style-one li:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 400;
  font-size: 20px;
  color: #2962ff;
  left: 0;
}

/*pazination style*/
.properties-pazination li {
  display: inline-block;
}

.properties-pazination li a {
  color: #2d3954;
  padding: 0 8px;
  display: block;
  font-weight: 600;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.properties-pazination a:hover {
  color: #2962ff;
}

.properties-pazination li.active a {
  color: #ffffff;
  border-radius: 50%;
  background: #2962ff;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: normal;
}

.properties-pazination li.active a:hover {
  color: #ffffff;
}

.properties-pazination li:first-child a,
.properties-pazination li:last-child a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  background: rgba(45, 57, 84, 0.06);
}

/*** Preloader style ** */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/preloader.gif);
}

/*** Scroll Top style ** */
.scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  display: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background: #2962ff;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

/* text inputs and testarea */
.form-group input,
.form-group textarea {
  color: #64687e;
  font-size: 14px;
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #ffffff;
  border: none;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: none;
  border-color: #d4d7de;
}

/* input buttons */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

/*Border Radius*/
.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

/** Background Color style */
.color-green {
  color: #0be7b7;
}

.color-red {
  color: #2962ff;
}

.color-white {
  color: #fff;
}

.bg-light {
  background: #fff !important;
}

.bg-green {
  background: #0be7b7;
}

.bg-blue {
  background: #000;
}

/*
.bg-grad {
    background: transparent linear-gradient(247deg, #6029EF 0%, #251A9B 100%) 0% 0% no-repeat padding-box;
}

.shape-up {
    clip-path: polygon(calc(50% - 460px) 0, calc(50% + 460px) 0, calc(50% + 585px) 75px, 100% 75px, 100% 100%, 0 100%, 0 75px, calc(50% - 585px) 75px);
}

.shape-down {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), calc(50% + 585px) calc(100% - 75px), calc(50% + 460px) 100%, calc(50% - 460px) 100%, calc(50% - 585px) calc(100% - 75px), 0 calc(100% - 75px));
}

.shape-down-in {
    clip-path: polygon(0 0, calc(50% - 178px) 0, calc(50% - 118px) 75px, calc(50% + 118px) 75px, calc(50% + 178px) 0, 100% 0, 100% calc(100% - 75px), calc(50% + 585px) calc(100% - 75px), calc(50% + 460px) 100%, calc(50% - 460px) 100%, calc(50% - 585px) calc(100% - 75px), 0 calc(100% - 75px));
}

.shape-up-in {
    clip-path: polygon(calc(50% - 460px) 0, calc(50% + 460px) 0, calc(50% + 585px) 75px, 100% 75px, 100% 100%, calc(50% + 178px) 100%, calc(50% + 118px) calc(100% - 75px), calc(50% - 118px) calc(100% - 75px), calc(50% - 178px) 100%, 0 100%, 0 75px, calc(50% - 585px) 75px);
}

.shape-up-down {
    clip-path: polygon(calc(50% - 460px) 0, calc(50% + 460px) 0, calc(50% + 585px) 75px, 100% 75px, 100% calc(100% - 75px), calc(50% + 585px) calc(100% - 75px), calc(50% + 460px) 100%, calc(50% - 460px) 100%, calc(50% - 585px) calc(100% - 75px), 0 calc(100% - 75px), 0 75px, calc(50% - 585px) 75px);
}

*/

.shape-bg-after,
.shape-bg-before {
  position: relative;
}

.shape-bg-after:after,
.shape-bg-before:before {
  position: absolute;
  content: "";
  height: 200px;
  width: 100%;
  left: 0;
  z-index: -1;
  background: #f8f9fa;
}

.shape-bg-before:before {
  bottom: 100%;
}

.shape-bg-after:after {
  top: 100%;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.parallax:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.48);
}

/*** 
====================================================================
  Slider area  start
====================================================================
***/

.main-slider {
  min-height: 100vh;
  position: relative;
}

.main-slider .container-fluid {
  padding: 0px;
}

.main-slider .container {
  text-align: center;
}

.main-slider .slider-wrapper {
  position: relative;
}

.main-slider img.building {
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
  display: none;
  max-width: unset;
}

.main-slider .slider-caption {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 5;
}

.main-slider .slider-caption .inner-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-slider .slider-caption-bg {
  max-width: 570px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px;
}

.main-slider h1 {
  position: relative;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 20px;
}

.main-slider .dark h1 {
  color: #222;
}

.main-slider h2 {
  position: relative;
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
}

.main-slider .main-logo {
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.main-slider .dark h2 {
  color: #222;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 42px;
}

.main-slider .link-btn {
  padding-top: 5px;
}

.main-slider .link-btn .btn {
  margin-right: 10px;
  margin-top: 10px;
}

.main-slider .link-btn .btn:hover {
  background: #fff;
  color: #2962ff;
  border: 1px solid #fff;
}

.main-slider .theme-btn {
  margin: 0 10px 20px;
}

.main-slider .text {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  max-width: 600px;
  color: #fff;
  line-height: 1.7em;
  padding-bottom: 30px;
  margin: 0 auto;
}

.main-slider .dark .text {
  color: #222;
  margin-bottom: 0;
}

.main-slider .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.main-slider.style-two .slide-overlay {
  background-color: rgba(20, 22, 26, 0.1);
}

/* slide animation */

.main-slider .owl-item .slider-caption * {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.main-slider .owl-item.active .slider-caption h1 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.main-slider .owl-item.active .slider-caption h2 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.main-slider .owl-item.active .slider-caption .text {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.main-slider .owl-item.active .slider-caption .link-btn {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.main-slider .owl-item.active .slider-caption .slider-caption-bg {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* slide nav */

.slide-nav .owl-nav {
  padding: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.97);
  -ms-transform: translateY(-50%) scale(0.97);
  transform: translateY(-50%) scale(0.97);
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slide-nav:hover .owl-nav {
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.slide-nav .owl-nav .owl-next,
.slide-nav .owl-nav .owl-prev {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 46px;
  background: rgb(224, 7, 28) !important;
  text-align: center;
  font-size: 24px;
  color: #fff !important;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.slide-nav .carousel-outer:hover .owl-nav .owl-next,
.slide-nav .carousel-outer:hover .owl-nav .owl-prev {
  opacity: 1;
  visibility: visible;
}

.slide-nav .owl-nav .owl-prev {
  left: 20px;
  float: left;
}

.slide-nav .owl-nav .owl-next {
  right: 20px;
  float: right;
}

.slide-nav .owl-nav .owl-next:hover,
.slide-nav .owl-nav .owl-prev:hover {
  color: #fff;
  border-color: #2962ff;
}

/***
====================================================================
  slide area end
====================================================================
***/

/****************************************************** */
/****************** 03. Banner Section  *************** */
/****************************************************** */
.banner-section {
  position: relative;
  height: 280px;
  background: url(../../images/back1.png);
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.banner-section .logo {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 120px;
  object-fit: contain;
  margin-top: 20px;
}

.banner-section p.pro-title {
  color: #fff;
  position: relative;
  z-index: 1;
  margin-top: 10px;
  font-size: 20px;
}

.banner-section:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.62);
}

.page-title {
  color: #ffffff;
  font-size: 40px;
  margin-top: 18px;
  position: relative;
}

.breadcrumb {
  position: relative;
  background: transparent;
  margin-bottom: 0;
  padding: 0;
}

.banner-inner nav {
  display: inline-block;
}

.breadcrumb-item a {
  color: #ffffff;
}

.breadcrumb-item a:hover {
  color: #2962ff;
}

.breadcrumb-item.active {
  color: rgb(224, 7, 28);
  position: relative;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #ffffff;
  content: "/";
}

/****************************************************** */
/**************** 04. Featured Section  *************** */
/****************************************************** */
.featured-tab li {
  font-size: 16px;
  color: #000145;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  padding: 15px 25px 15px 0;
  font-family: "Poppins", sans-serif;
}

.featured-tab li.active {
  color: #2962ff;
  padding: 15px 25px;
  border-left: 2px solid #2962ff;
}

.featured-tab li:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 6px;
  top: 50%;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  background: #2962ff;
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.featured-tab li.active:after {
  opacity: 1;
}

.featured-tab .theme-btn {
  background: #2962ff;
  padding: 8px 25px;
}

.featured-item {
  margin: 25px 0;
  position: relative;
}

.featured-item:after {
  position: absolute;
  content: "";
  height: 100%;
  width: calc(100% - 30px);
  background: #f3f3f3;
  left: 18px;
  top: 15px;
  z-index: -1;
}

.featured-img {
  flex: none;
  background: #fff;
}

.featured-heading {
  margin: 0 40px 0 30px;
}

.featured-heading h6 {
  line-height: 26px;
}

.featured-item-inner {
  padding: 30px;
  box-shadow: 10px 0px 25px #0400ff0d;
}

.featured-text p {
  margin: 0;
}

.featured-icon {
  flex: none;
  margin: 0 30px;
}

.featured-icon a {
  width: 35px;
  height: 35px;
  color: #ffffff;
  display: block;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: #2962ff;
}

@-webkit-keyframes ser_tab {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes ser_tab {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

/*Service Featured*/
.service-feature-box {
  display: flex;
  background: #ffffffff;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px;
}

.service-feature-img {
  flex: none;
  margin-right: 30px;
}

.service-feature-content h6 {
  margin-bottom: 10px;
}

.service-feature-content .theme-btn {
  background: #2962ff;
  border-radius: 5px;
  padding: 4px 15px;
  font-size: 14px;
  margin-top: 5px;
}

/****************************************************** */
/*************** 06. Fact Counter Section  ************ */
/****************************************************** */

.fact-count-section {
  position: relative;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
}

.fact-count-section:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.single-fact {
  margin-bottom: 30px;
  color: #ffffff;
  padding: 35px 20px 10px;
  background: rgba(0, 0, 0, 0.52);
  height: 100%;
  border-radius: 8px;
}

.fact-count-section .col-lg-3 {
  margin-bottom: 15px;
}

.single-fact i {
  display: inherit;
  margin-bottom: 20px;
}

.single-fact i:before {
  font-size: 40px;
  margin: 0;
}

.single-fact .count-text {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 15px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

.single-fact:hover .count-text {
  color: #2962ff;
}

.single-fact .text-statistic {
  transition: all 0.2s;
}

.single-fact:hover .text-statistic {
  transform: scale(1.1);
  transition: all 0.2s;
}

.single-fact p {
  font-size: 18px;
}

.symbol:after {
  content: "+";
}

/****************************************************** */
/*************** 07. Our Services Section  ************ */
/****************************************************** */
.services-section .row {
  justify-content: space-around;
}

.services-section.law-acts .container .row>div {
  margin-bottom: 30px;
}

.services-section.branches div.branches-list ul {}

.services-section.branches div.branches-list ul li {
  text-align: left;
  box-shadow: 7px 6px 12px #3b6ffd2b;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.services-section.branches div.branches-list ul li a {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  color: #000;
}

.services-section.branches div.branches-list ul li:hover a {
  color: #2962ff;
}

.service-box {
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  transition: 0.5s;
  padding: 25px;
  /* margin-bottom: 20px; */
  min-height: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-box:hover {
  box-shadow: 0px 10px 40px #0400ff19;
  background-color: #2962ff;
  color: #fff;
}

.service-icon {
  width: 75px;
  height: 75px;
  color: #fff;
  line-height: 75px;
  margin-bottom: 15px;
  border-radius: 50%;
  background: #2962ff;
  display: inline-block;
  transition: all 0.2s;
}

.service-box:hover .service-icon,
.service-box:hover a h3 {
  transition: all 0.2s;
  transform: scale(1.1);
  background-color: #fff;
}
.service-box:hover .service-icon{
  color: #2962ff;
}

.services-section.law-acts .service-icon {
  background: #fff;
}

/* 
.services-section.law-acts .pagination {
  justify-content: center;
}

.services-section.law-acts .pagination li{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2962ff;
  margin-right: 10px;
} */

.service-icon i:before {
  font-size: 35px;
  margin: 0;
}

.service-box p {
  margin: 7px 0 16px;
}

.service-box h3 {
  transition: all 0.2s;
  font-size: 18px;
}

.service-box h3 a {
  color: #000145;
  display: block;
  margin: 10px;
}
.service-box:hover h3 a {
  color: #fff;
}
.service-box:hover h3 {
  color: #fff;

}

/****************************************************** */
/************* 8. Projects Gallery Section  *********** */
/****************************************************** */
.gallery-box {
  margin-bottom: 30px;
  border-radius: 10px;
  background: #ffffff;
}

.gallery-img {
  position: relative;
}

.gallery-img img {
  width: 100%;
}

.gallery-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  opacity: 0;
  transition: 0.5s;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background: rgba(41, 98, 255, 0.72);
  transform: perspective(500px) rotateX(90deg);
  transform-origin: bottom;
}

.gallery-box:hover .gallery-overlay {
  opacity: 1;
  transform: perspective(500px) rotateX(0deg);

}

.gallery-overlay a {
  color: #ffffff;
}

.gallery-overlay a i:before {
  font-size: 55px;
  margin: 0;
}

.gallery-content {
  text-align: left;
  padding: 20px 20px 2px;
}

.gallery-content h6 {
  color: #222;
  margin-bottom: 8px;
}

.gallery-btn {
  width: 100%;
}

.gallery-btn .theme-btn {
  background: #2962ff;
}

/*Gallery page Filter*/
.gallery-filter .mix {
  display: none;
}

.filter-tabs li {
  color: #2962ff;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  border: 2px solid #2962ff;
  padding: 8px 25px;
  transition: 0.5s;
  cursor: pointer;
  margin: 0 5px 10px;
  border-radius: 26px;
}

.filter-tabs li:hover,
.filter-tabs li.active {
  background: #2962ff;
  color: #ffffff;
}

/****************************************************** */
/*************** 9. Our Experts Section  ************** */
/****************************************************** */

.experts-inner {
  margin-left: -15px;
  margin-right: -15px;
}

.every-expert {
  position: relative;
  margin: 0 15px 85px;
  background-color: #fff;
  border-radius: 8px;
}

.library-main .every-expert {
  position: relative;
  margin: 0;
  border-radius: unset;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.expert-img {
  position: relative;
}

.expert-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  opacity: 0;
  transition: 0.5s;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background: rgba(41, 98, 255, 0.72);
  transform: perspective(500px) rotateX(90deg);
  color: #fff;
  font-size: 18px;
  padding: 0 15px;
  transform-origin: bottom;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.library-main .expert-overlay {
  border-radius: 0;
}

.every-expert:hover .expert-overlay {
  opacity: 1;
  transform: perspective(500px) rotateX(0deg);
}

.expert-img img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  /* max-height: 290px; */
  height: 325px;
}

.library-main .expert-img img {
  border-radius: 0;
  max-height: unset;
}

.expert-description h5 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #000;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: normal;
  padding-left: 15px;
  padding-right: 15px;
}

.expert-description h5:hover {
  color: #2962ff;
}

.expert-description span {
  color: #2962ff;
}

.library-main .expert-description {
  text-align: center;
}

.experts-inner button {
  height: 45px;
  width: 45px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  color: #2962ff;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.experts-inner .expert-prev {
  right: 80px;
  z-index: 1;
}

/*Our expert Page*/
.experts-page .every-expert {
  margin: 0 0 40px;
}

.expert-btn .theme-btn {
  background: #2962ff;
}

/****************************************************** */
/************* 10 .Client Feedback Section  ************ */
/****************************************************** */
.client-testimonial-inner {
  max-width: 100%;
}

.client-testimonial-inner .single-client {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 70px;
}

.client-img {
  flex: none;
  margin-right: 35px;
}

.client-img img {
  border-radius: 50%;
}

.client-other h4 {
  color: #ffffff;
}

.client-other p {
  margin: 0;
}

.ratings i {
  margin: 0 4px;
  color: #f8c600;
  font-size: 14px;
}

.ratings i:first-child {
  margin-left: 0;
}

.client-testimonial-inner button.slick-arrow {
  height: 45px;
  width: 45px;
  background: #2962ff;
  cursor: pointer;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  bottom: -65px;
  right: 15px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #fff;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #2962ff;
}

.client-testimonial-inner .slick-arrow.client-prev {
  right: 80px;
  z-index: 1;
}

/****************************************************** */
/******************* 11 .News Section  ***************** */
/****************************************************** */
/* new version */

.news-card {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
}

.news-card .img {
  flex: 0 0 35%;
  max-width: 35%;
  width: 100%;
  text-align: center;
}

.news-card:hover .img a img {
  transform: scale(1.1);
}

.news-card:hover .content h4 a {
  color: #2962ff;
}

.news-card .img a {
  overflow: hidden;
  display: block;
}

.news-card .img a img {
  height: 300px;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.news-card .content {
  padding: 0 0 0 30px;
}

.news-card .content .category {
  display: inline-block;
  background-color: #2962ff;
  padding: 2px 10px;
  color: white;
  text-transform: uppercase;
  transform: skewX(-15deg);
  margin-bottom: 8px;
}

.news-card .content .category div {
  transform: skewX(15deg);
  font-size: 14px;
}

.news-card .content h4 {
  /* font-size: 28px; */
  margin: 8px 0;
}

.news-card .content h4 a {
  color: black;
  transition: 0.3s;
}

.news-card .content h4 a:hover {
  text-decoration: unset;
}

.news-card .content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  white-space: normal;
}

.news-card .content .infos {
  display: flex;
}

.news-card .content .infos span {
  color: #9e9da6;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-size: 14px;
}

.news-card .content .infos span img {
  margin-right: 6px;
}

.news-card .content .btn {
  border: 1px solid #2962ff;
  transition: 0.3s;
  border-radius: 0;
}

.news-card .content .btn:hover {
  background-color: #2962ff;
  color: white;
}

/* new version */
.news-box {
  background: #fff;
  border-radius: 10px;
  transition: 0.5s;
  margin-bottom: 30px;
  margin-right: 15px;
  width: 33.33333333333%;
}

.news-box:hover {
  background: #ffffff;
  box-shadow: 10px 0px 40px #0400ff0d;
}

.news-img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-others {
  padding: 20px 30px;
  min-height: 165px;
}

.news-date {
  color: #2962ff;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.news-title {
  line-height: 20px;
  font-weight: 500;
  color: #333;
}

.news-title a {
  font-size: 17px;
  color: #000145;
}

.news-title a:hover {
  color: #2962ff;
}

/*News Page*/
.news-page .news-box {
  background: #ffffff;
}

.blog-btn {
  width: 100%;
}

.blog-btn .theme-btn {
  background: #2962ff;
}

/*News Single Page*/
.blog-details-author {
  margin: 50px 0 10px;
}

.blog-details-author a {
  color: #2962ff;
}

.blog-details-author span {
  display: inline-block;
}

.blog-details-author span:before {
  content: "";
  height: 5px;
  width: 5px;
  margin: 0 10px;
  background: #64687e;
  display: inline-block;
}

.blog-details-author span:first-child:before {
  display: none;
}

.blog-details-content h3 {
  font-size: 32px;
  font-weight: 600;
}

.blog-details-content table {
  max-width: 90%;
}

.blog-details-content p {
  margin-bottom: 22px;
}

/*Comments*/
.related-post .news-box {
  background: #ffffff;
}

/*Comments*/
.comment-item {
  display: flex;
  margin-bottom: 40px;
}

.comment-reply {
  margin-left: 75px;
}

.comment-author-img {
  flex: none;
  margin-right: 30px;
}

.comment-author-img img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

.comment-reply img {
  width: 65px;
  height: 65px;
}

.comment-speech {
  flex: auto;
}

.commenter-name {
  position: relative;
}

.commenter-name .reply {
  position: absolute;
  color: #333;
  top: 0;
  right: 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.comment-form .form-group input,
.comment-form .form-group textarea {
  background: #fff;
}

.comment-form .form-group textarea {
  height: 180px;
}

/*Sidebar*/
.widget {
  margin-bottom: 35px;
}

.widget:last-child {
  margin-bottom: 0;
}

.widget .title {
  margin-bottom: 35px;
  padding-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}

/*search widget*/
.search-widget {
  position: relative;
}

.search-widget input {
  margin: 0;
  width: 100%;
  font-size: 14px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #2962ff;
}

.search-widget button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65px;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  background: #2962ff;
}

/*post widget*/
.post-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.post-item:last-child {
  margin-bottom: 0;
}

.post-img {
  width: 110px;
  flex: none;
  margin-right: 15px;
}

.post-img img {
  width: 110px;
  height: 110px;
}

.post-content .news-date {
  margin-bottom: 0;
}

.post-content h5 {
  font-size: 18px;
  font-weight: 500;
}

.post-content a {
  color: #000145;
  line-height: 30px;
}

/*Categories widget*/

.category-widget li a {
  position: relative;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  /* font-family: "Poppins", sans-serif; */
  margin-bottom: 15px;
  padding-left: 35px;
  display: inline-block;
}

.category-widget a:hover,
.category-widget li.active a {
  color: #2962ff;
}

.category-widget li a:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 0;
  color: #2962ff;
  font-size: 18px;
  margin-right: 15px;
}

/*Tags widget*/
.tag-widget a {
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  margin: 0 10px 15px 0;
  display: inline-block;
  border-radius: 40px;
  background: #2962ff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.tag-widget a:hover {
  color: #ffffff;
  background: #2962ff;
}

/****************************************************** */
/**************** 12 .Contact Us Page  **************** */
/****************************************************** */

.contact-info-box {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
}

.contact-info-box i {
  height: 75px;
  width: 75px;
  color: #fff;
  background: #2962ff;
  border-radius: 50%;
  line-height: 75px;
  font-size: 20px;
  margin-bottom: 25px;
}

.contact-info-box h6 {
  line-height: 26px;
}

/*contact form*/
.contact-form {
  padding: 0 50px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form .form-group textarea {
  height: 350px;
}

.contact-form .theme-btn {
  padding: 12px 40px;
}

/* Admission form */
.gorom-login-form {
  background-color: #e5ebec;
}

.form-group textarea {
  height: 350px;
}

.gorom-login-form .theme-btn {
  padding: 10px 50px;
}

.gorom-login-form .auth-block {
  background-color: #fff;
}

.gorom-login-form .nav-pills .nav-link {
  padding: 3.7rem 3rem;
  border-radius: 0;
  font-size: 18px;
  color: #2962ff;
}

.gorom-login-form .nav-pills .nav-link.active {
  color: #fff;
}

.gorom-login-form .nav-pills {
  flex: 0 0 30%;
  max-width: 30%;
  width: 100%;
  border-right: 1px solid #dcdcdc;
}

.gorom-login-form .nav-pills .nav-link {
  border-bottom: 1px solid #dcdcdc;
}

.gorom-login-form .nav-pills .nav-link:last-child {
  border-bottom: 0;
}

.gorom-login-form .tab-content {
  flex: 0 0 70%;
  max-width: 70%;
  width: 100%;
  padding: 1.5rem 3rem;
}

.gorom-login-form .tab-content .tab-pane {
  height: 100%;
}

.gorom-login-form .input-group input {
  padding-left: 15px;
}

.gorom-login-form .input-group input,
.gorom-login-form .input-group .input-group-text {
  background-color: #fff;
  color: #2962ff;
  border: 1px solid #2962ff;
}

.gorom-login-form .input-group input::placeholder {
  color: #2962ff;
}

.gorom-login-form span.input-group-text {
  background-color: #fff;
  border: 0;
  padding: 0.375rem 1.5rem;
}

.gorom-login-form .control-label {
  font-size: 18px;
  margin-bottom: 15px;
}

/****************************************************** */
/****************** 13 .Error Page  ******************* */
/****************************************************** */
.error-page {
  position: relative;
  min-height: 100vh;
  background: url(../../images/back1.png);
  background-size: cover;
}

.error-page div.black {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.error-inner {
  padding: 50px 0;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

.error-inner h1 {
  font-size: 250px;
  color: #ffffff;
}

.error-inner h2 {
  font-size: 45px;
  color: #ffffff;
}

.error-search {
  max-width: 710px;
  margin: auto;
}

.error-search input,
.error-search .theme-btn {
  margin: 0;
  font-size: 15px;
  border-radius: 5px;
}

.error-search input {
  padding: 16px 25px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.error-search .theme-btn {
  padding: 16px 75px;
  font-size: 18px;
  font-weight: 600;
  background: #2962ff;
}

/****************************************************** */
/****************** 14. Footer Section  **************** */
/****************************************************** */

/*** 

====================================================================
  Main Footer
====================================================================

***/

.main-footer {
  position: relative;
  background: #222;
  color: #bcbcbc;
  padding-top: 90px;
}
.main-footer iframe{
  border-radius: 8px;
}
.main-footer .widgets-section {
  position: relative;
  padding: 80px 0px 30px;
}

.main-footer .footer-column {
  margin-bottom: 30px;
}

.main-footer .footer-widget {
  position: relative;
}

.main-footer .footer-logo {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-footer .footer-logo a {
  flex: 0 0 30%;
  max-width: 23%;
  width: 100%;
}

.main-footer .footer-logo span {
  flex: 0 0 70%;
  max-width: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
}

.main-footer .footer-logo img {
  display: block;
  width: 75px;
  /* max-width: 100%; */
}

.main-footer .footer-column h2 {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 14px;
  color: #ffffff;
  margin-bottom: 15px;
}

.main-footer .footer-column h2:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 30px;
  height: 1px;
  background-color: #2962ff;
}

.main-footer .logo-widget .text {
  margin-bottom: 20px;
  line-height: 2em;
  padding-right: 95px;
}

.main-footer .logo-widget form {
  position: relative;
  padding-right: 80px;
}

.main-footer .logo-widget form .form-group {
  position: relative;
}

.main-footer .logo-widget form .form-group input {
  position: relative;
  border: 1px solid #555558;
  border-radius: 2px;
  width: 100%;
  height: 48px;
  line-height: 28px;
  background: none;
  padding: 10px 15px;
}

.main-footer .logo-widget form .form-group button {
  position: absolute;
  color: #dcdcdc;
  font-size: 20px;
  top: 0px;
  width: 50px;
  right: 0px;
  background: none;
  height: 48px;
}

.main-footer .contact-info {
  margin-bottom: 30px;
}

.main-footer .contact-info li {
  position: relative;
  padding-left: 53px;
  margin-bottom: 15px;
  line-height: 24px;
}

.main-footer .contact-info li .number {
  position: relative;
  font-size: 20px;
}

.main-footer .contact-info li .icon {
  position: absolute;
  left: 2px;
  top: 12px;
  text-align: center;
  line-height: 24px;
  font-size: 30px;
  color: #00bdfd;
}

/*link widget*/

.main-footer .links-widget .list {
  margin-top: -7px;
}

.main-footer .links-widget .list li a {
  position: relative;
  display: inline-block;
  line-height: 24px;
  padding: 2px 0px 5px 0px;
  color: #aaaaaa;
  font-size: 14px;
  text-transform: capitalize;
}

.main-footer .links-widget .list li a:hover {
  color: #ffffff;
}

/*subscribe widget*/

.main-footer .subscribe-widget {
  position: relative;
}

.main-footer .subscribe-widget .text {
  position: relative;
  padding: 20px 0px 15px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.main-footer a {
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-footer .subscribe-widget .form-group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.main-footer .subscribe-widget .form-group input[type="text"],
.main-footer .subscribe-widget .form-group input[type="tel"],
.main-footer .subscribe-widget .form-group input[type="email"],
.main-footer .subscribe-widget .form-group textarea {
  position: relative;
  display: block;
  width: 100%;
  line-height: 28px;
  padding: 8px 0px;
  height: 38px;
  color: #ffffff;
  font-size: 13px;
  background: none;
  border-bottom: 2px solid #6a6a6a;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-footer .subscribe-widget .form-group input[type="text"]:focus,
.main-footer .subscribe-widget .form-group input[type="tel"]:focus,
.main-footer .subscribe-widget .form-group input[type="email"]:focus,
.main-footer .subscribe-widget .form-group textarea:focus {
  border-color: #f1f1f1;
}

.main-footer .subscribe-widget .form-group input[type="submit"],
.main-footer .subscribe-widget button {
  position: relative;
  margin-top: 10px;
}

/*twitter widget*/

.main-footer .twitter-widget .feed {
  position: relative;
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 20px;
}

.main-footer .twitter-widget .feed .month {
  color: #6c9ecd;
  font-size: 14px;
  font-weight: 300;
}

.main-footer .twitter-widget .feed .month a {
  position: relative;
  color: #00bdfd;
  font-weight: 500;
  text-decoration: underline;
}

.main-footer .twitter-widget .feed .text {
  margin-bottom: 0px;
  line-height: 1.6em;
  font-weight: 300;
  color: #bcbcbc;
  font-size: 14px;
}

.main-footer .twitter-widget .feed .days {
  position: relative;
  font-size: 14px;
  color: #bcbcbc;
  margin-top: -5px;
}

.main-footer .footer-bottom {
  position: relative;
  padding: 30px 0px;
  text-align: center;
  margin-top: 40px;
  background: #121212;
}

.main-footer .footer-bottom .copyright {
  color: #bcbcbc;
  font-size: 14px;
}

.main-footer.style-two {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-footer.style-two:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #222;
}

/*contact info list*/

.contact-info-list {
  margin-bottom: 30px;
}

.main-footer .contact-info-list li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  line-height: 24px;
  color: #bcbcbc;
  font-size: 14px;
}

.main-footer .contact-info-list li .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #00bdfd;
}

/* Gallery Widget */

.main-footer .gallery-widget .row {
  margin: 0px -5px;
}

.main-footer .gallery-widget .image {
  position: relative;
  float: left;
  width: 33.333%;
  padding: 0px 7px 0px;
}

.main-footer .gallery-widget .image img {
  position: relative;
  display: block;
  width: 100%;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.main-footer .gallery-widget .image img:hover {
  opacity: 0.7;
}

/*posts widget*/

.main-footer .posts-widget .post {
  position: relative;
  min-height: 90px;
  padding-left: 95px;
  margin-bottom: 12px;
}

.main-footer .posts-widget .post:last-child {
  margin-bottom: 0px;
  border: 0px;
}

.main-footer .posts-widget .post .post-thumb {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 73px;
  height: 73px;
  border-radius: 50%;
}

.main-footer .posts-widget .post .post-thumb img {
  display: block;
  width: 100%;
}

.main-footer .posts-widget .post .desc-text {
  position: relative;
  font-size: 17px;
  color: #f4f4f4;
  line-height: 24px;
  padding: 0px 0px 3px;
  top: -4px;
}

.main-footer .posts-widget .post .desc-text a {
  color: #aaa;
  font-size: 15px;
}

.main-footer .posts-widget .post .time {
  position: relative;
  color: #2962ff;
  font-size: 13px;
  line-height: 24px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer,
.fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png");
  background-position: center center;
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url("../assets/images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("../assets/images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

/*** 

====================================================================
  Fancy Box
====================================================================

***/

.fancybox-next span,
.fancybox-prev span {
  background-image: none !important;
  width: 44px !important;
  height: 44px !important;
  line-height: 44px !important;
  text-align: center;
}

.fancybox-next span:before,
.fancybox-prev span:before {
  content: "";
  position: absolute;
  font-family: "FontAwesome";
  left: 0px;
  top: 0px;
  font-size: 12px;
  width: 44px !important;
  height: 44px !important;
  line-height: 44px !important;
  background-color: rgba(28, 28, 28, 0.4) !important;
  color: #ffffff;
  visibility: visible;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
}

.fancybox-next span:before {
  content: "Next";
}

.fancybox-prev span:before {
  content: "Prev";
}

.fancybox-next:hover span:before,
.fancybox-prev:hover span:before {
  background-color: #ffffff !important;
  color: #000000;
}

.fancybox-type-image .fancybox-close {
  right: 2px;
  top: 3px;
  width: 45px;
  height: 45px;
  text-align: center;
  background-repeat: no-repeat;
}

.fancybox-type-image .fancybox-skin {
  padding: 0px !important;
}

/***

==================================================================
  What We Do
==================================================================

***/

.what-we-do .text p {
  line-height: 29px;
}

.service-block-one-area {
  position: relative;
  padding-left: 40px;
}

.service-block-one {
  position: relative;
}

.service-block-one .inner-box {
  position: relative;
  margin-bottom: 30px;
}

.service-block-one .inner-box .image {
  position: relative;
  overflow: hidden;
}

.service-block-one .inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
}

.service-block-one .inner-box .caption {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.service-block-one:hover .inner-box .caption {
  opacity: 0;
  visibility: hidden;
}

.service-block-one .icon-box {
  color: #fff;
  font-size: 55px;
  margin-bottom: 30px;
}

.service-block-one h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.service-block-one .inner-box .overlay-box {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  -webkit-transform: perspective(400px) rotateX(-90deg);
  -ms-transform: perspective(400px) rotateX(-90deg);
  transform: perspective(400px) rotateX(-90deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(230, 32, 45, 0.8);
}

.service-block-one .inner-box:hover .overlay-box {
  opacity: 1;
  -webkit-transform: perspective(400px) rotateX(0deg);
  -ms-transform: perspective(400px) rotateX(0deg);
  transform: perspective(400px) rotateX(0deg);
}

.service-block-one .inner-box .overlay-box .overlay-inner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  padding: 10px 30px;
  vertical-align: middle;
}

.service-block-one .inner-box .overlay-box .overlay-inner .content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.service-block-one .inner-box .overlay-box h2 {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 18px;
}

.service-block-one .inner-box .overlay-box h2 a {
  position: relative;
  color: #ffffff;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.service-block-one .inner-box .overlay-box h2 a:hover {
  color: #17b6e6;
}

.service-block-one .inner-box .overlay-box .text {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 25px;
}

.service-block-one .inner-box .overlay-box .read-more {
  position: relative;
  background: #fff;
  color: #222;
  font-weight: 600;
  padding: 11px 18px;
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.service-block-one .inner-box .overlay-box .read-more:hover {
  color: #e6202d;
}

/***

==================================================================
  Pricing Plan
==================================================================

***/

.pricing-section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-block-one {
  position: relative;
}

.pricing-block-one .inner-box {
  position: relative;
  padding: 40px 30px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 30px;
}

.pricing-block-one .category {
  font-size: 26px;
  color: #222;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.pricing-block-one .price {
  font-size: 32px;
  color: #2962ff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}

.pricing-block-one .lower-box ul {
  position: relative;
  margin: 25px 0;
}

.pricing-block-one .lower-box ul li {
  font-size: 15px;
  color: #848484;
  padding-left: 18px;
  margin-bottom: 9px;
}

.pricing-block-one .lower-box ul li strong {
  position: relative;
}

.pricing-block-one .lower-box ul li strong:before {
  content: "";
  position: absolute;
  left: -18px;
  top: 6px;
  width: 8px;
  height: 8px;
  background: #2962ff;
}

/* standard plan */

.pricing-block-one.light .inner-box {
  padding: 70px 30px;
}

.pricing-block-one.standard .inner-box {
  padding: 70px 30px;
  background: rgb(34, 34, 34);
}

.pricing-block-one.standard .category {
  color: #fff;
}

.pricing-block-one.standard .text {
  color: #c2c8d1;
}

.pricing-block-one.standard .lower-box ul li {
  color: #c2c8d1;
}

.pricing-block-one.standard .lower-box ul li strong {
  color: #ddd;
}

/*** 

====================================================================
  Stacked Image Carousel
====================================================================

***/

.stacked-image-carousel {
  position: relative;
  margin-left: 40px;
}

.stacked-image-carousel .slides {
  position: relative;
  width: 100%;
  max-width: 330px;
  height: 410px;
}

.stacked-image-carousel .slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

.stacked-image-carousel .slide .image-box {
  position: relative;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.stacked-image-carousel .slides .image-box img {
  display: block;
  width: 100%;
}

.stacked-image-carousel .slides .slide:nth-child(1).active+.slide {
  left: 0px !important;
  top: 0px !important;
}

.stacked-image-carousel .slides .slide:nth-child(3) {
  position: absolute;
  left: 200px;
  top: 30px;
  z-index: 2;
}

.stacked-image-carousel .slide.active,
.stacked-image-carousel .slides .slide:nth-child(3).active {
  left: 200px !important;
  top: 30px !important;
  z-index: 5;
  -webkit-box-shadow: 4px 13px 50px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 13px 50px 2px rgba(0, 0, 0, 0.15);
}

/* LAYOUT STYLES */
.user-signed {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2962ff;
  width: 70px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  z-index: 2;
  color: #fff;
}

.beta-icon {
  position: absolute;
  top: 0;
  transform: translateY(-40%);
  background-color: #fa0000;
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  color: #fff;
  /* writing-mode: vertical-lr; */
  /* text-orientation: inherit; */
  padding-top: 40px;
  padding-left: 10px;
}

.beta-icon a {
  color: #fff;
}

.beta-icon i::before {
  margin-left: 0;
}

.user-signed a {
  color: #fff;
}

.user-signed i::before {
  margin-left: 0;
}

.bg-gray {
  background-color: #e5ebec;
}

/* LAYOUT STYLES */
/* ALERT STYLES */
.my-alert {
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-banner {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  width: 100%;
  padding: 0 10% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-banner h2 {
  padding: 0 15%;
  text-align: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#smallVideo {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: unset;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* .lang-changer{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
  height: 80px;
  padding: 10px;
}
.lang-changer img{
  width: 25px;
  height: 25px;
} */

.text-statistic {
  font-size: 16px;
}

.lang-changer .localeSwitcher {
  color: #000;
  font-size: 18px;
}

.lang-changer .localeSwitcher:hover {
  color: #2962ff;
}

.telegram-link {
  color: #2962ff;
  /*font-size: 20px;*/
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.telegram-link img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  background: #fafafa;
  color: #666;
}

.pagination.pagination-flat>li>a {
  border-radius: 0 !important;
}

footer .contact-item {
  display: flex;
  /* align-items: center; */
  font-size: 16px;
  margin-bottom: 8px;
}

footer .contact-item:last-child {
  align-items: flex-start;
}

footer .contact-item i {
  color: white;
  margin-right: 8px;
  position: relative;
  top: 6px;
}

footer .contact-item span,
footer .contact-item a {
  color: white;
}

.required label::after {
  content: "*";
  color: red;
  right: -10px;
  top: 3px;
  position: absolute;
}

.help-block {
  color: red;
  display: block;
}

.tests-slider-carousel {
  background-image: url(../images/background/exam-scene.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}

.tests-slider-carousel .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px !important;
  height: 15px !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 15px;
  height: 15px;
  background-color: #2962ff !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #2962ff !important;
}

.tests-slider-carousel .test-item {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.tests-slider-carousel .test-item .row {
  position: relative;
  z-index: 1;
}

.tests-slider-carousel .test-item .row .col-12 {
  margin-bottom: 30px;
}

.tests-slider-carousel .test-item .row .time-place h3.time {
  color: #fff;
  text-align: center;
}

.tests-slider-carousel .test-item .row .question-number {
  position: absolute;
  left: 15px;
  top: -30px;
  font-style: italic;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.tests-slider-carousel .test-item .row .col-12.question {
  color: #fff;
  font-size: 20px;
}

.tests-slider-carousel .test-item .row .col-12 span {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
}

.tests-slider-carousel .test-item .row .col-12 span.a,
.tests-slider-carousel .test-item .row .col-12 span.b,
.tests-slider-carousel .test-item .row .col-12 span.c,
.tests-slider-carousel .test-item .row .col-12 span.d {
  padding: 10px;
}

.tests-slider-carousel .test-item .row .col-12:hover span,
.tests-slider-carousel .test-item .row .col-12 span.visited {
  color: #2962ff;
}

.developed-by {
  margin-top: 15px;
}

.developed-by,
.developed-by a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.developed-by a:hover {
  color: #2962ff;
}

.scrolltop {
  position: fixed;
  bottom: 45px;
  right: 60px;
  width: 300px;
  z-index: 30;
  width: 50px;
  height: 50px;
  background-color: #2962ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.library-page .every-expert {
  margin-bottom: 30px;
}

.library-page .expert-img img {
  /*height: 220px;*/
}

.library-page .expert-description {
  padding: 12px;
  margin: 0;
  line-height: 22px;
  min-height: 110px;
  display: flex;
  align-items: center;
}

.library-page .expert-description a {
  color: #000;
  font-size: 18px;
  display: block;
  position: relative;
  width: 100%;
  padding-right: 20px;
}

.library-page .expert-description a i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.library-page .expert-overlay a {
  color: white;
}

.library-page .widget {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.library-page .category-widget ul {
  padding-top: 10px;
}

.library-page .category-widget ul li {
  border-bottom: 1px solid lightgray;
}

.library-page .category-widget ul li {
  margin-bottom: 12px;
}

.library-page .category-widget ul li:last-child {
  margin-bottom: 0;
  border: unset;
}

.library-page .category-widget ul li a {
  margin-bottom: 12px;
}

.inner-library .row {
  margin: 50px 0;
}

.inner-library .book-info {
  padding: 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.inner-library .book-info .book-img {
  width: 100%;
}

.inner-library .book-info img {
  width: 300px;
  height: 500px;
  object-fit: contain;
}

.inner-library .book-info .infos {
  padding-left: 50px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.inner-library .book-info .infos div {
  display: block;
}

.inner-library .book-info .infos div span {
  font-weight: bold;
  margin-right: 5px;
}

.inner-library .book-info .infos a {
  color: #2962ff;
  margin-top: 10px;
}

.main-banner .main-logo,
.main-banner h2 {
  margin-bottom: 20px;
}

.header-inner .nav-outer {
  margin: 0 auto;
}


@media (max-width: 1200px) {
  .news .popular {
    display: none;
  }

  .news .tab-content .big-news .img img {
    height: 240px;
  }

  .main-banner {
    padding: 0 !important;
  }
}

@media (max-width: 992px) {
  .news .tab-content .big-news .img img {
    height: 240px;
  }
}

@media (max-width: 768px) {
  .news .tab-content .big-news {
    margin-bottom: 25px;
  }

  .news .tab-content .big-news .content {
    height: auto;
  }
}

@media (max-width: 576px) {
  .news .tab-content .big-news .img img {
    height: 220px;
  }

  .news .top {
    flex-flow: column;
  }
}
.video-tape .nav{
  justify-content: center;
}
.video-tape .nav li{
  margin-right: 15px;
  margin-bottom: 15px;
}
.video-tape .nav.nav-pills a.dropdown-toggle {
  background-color: #2962ff;
  color: #fff;
}
.video-tape .nav.nav-pills a.dropdown-item{
  background-color: #fff;
  color: #000;
}
.video-tape .nav.nav-pills a.dropdown-item:hover{
  background-color: #2962ff;
  color: #fff;
}

.video-tape .big-video {
  height: 300px;
}

.gallery-page .big-video {
  display: block;
  position: relative;
  height: 250px;
}

.big-video,
.small-video a {
  display: block;
  position: relative;
}

.blog-details-content {
  overflow-x: auto;
}

.blog-details-content img {
  max-width: 100%;
  height: auto;
}

.blog-details-content table {
  border-collapse: collapse;
}

.blog-details-content table,
.blog-details-content th,
.blog-details-content td {
  border: 1px solid black;
}

ul.answers li a {
  background-color: #fff;
  background: #fff;
  border: 1px solid #2962ff;
  color: #000;
}
#quiz-counter{
  text-align-last: left;
  font-size: 18px;
  font-weight: bold;
}
ul.answers li a.hint {
  background-color: green;
  background: green;
  color: #fff;
}
ul.jqtree-tree li.jqtree-folder{
  /* background-color: #ffffff; */
  border-radius: 8px;
  margin-bottom: 15px;
  /* padding: 15px; */
}
ul.jqtree-tree ul.jqtree_common{
  margin-left: 20px;
}
ul.jqtree-tree .jqtree-toggler{
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}
ul.jqtree-tree .jqtree-element {
  cursor: pointer;
  position: relative;
  display: flex;
  background: #fff;
  margin-bottom: 10px;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid #2962ff;
  transition: all .1s;


}
ul.jqtree-tree .jqtree-title{
  font-size: 18px;
  line-height: 35px;
  color: #000!important;
}
ul.jqtree-tree .jqtree-element .circle{
  /* margin-left: auto; */
  background-color: #2962ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
ul.jqtree-tree .jqtree-element .circle.red{
  background-color: #FF1D23;
}
ul.jqtree-tree ul.jqtree_common {
  list-style: none outside;
  margin-left: 30px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  display: block;
}
ul.jqtree-tree .jqtree-toggler{
  margin-left: 10px;
  background-color: #2962ff;
  color: #fff!important;
}

ul.jqtree-tree .jqtree-element:hover{
  background-color: #2962ff;
  transition: all .1s;
}
ul.jqtree-tree .jqtree-element:hover  .jqtree-title{
  color: #fff!important;
}

.action-navs{
  display: flex;
  justify-content: space-around;
}
#listWithHandle{
  padding: 0 25px;
}
.my-alert {
  border-color: #d6e9c6;
  width: 25%;
  /* transform: translateX(-50%) translateY(-50%); */
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
/* .my-alert{
  border-color: #d6e9c6;
  width: 25%;
  transform: translateX(-50%) translateY(-50%);
  position: relative;
  left: 50%;
  top: 50%;
} */